<!-- Title -->

<hr>
<p class="font-weight-bold dark-grey-text text-center spacing">
  <strong>ARCHIVE</strong>
</p>
<hr>

{% set articles = craft.entries().section('article').all() %}       
{% set archive = craft.entries().section('archive').one() %}

<!-- Archive -->
<section class="archive mb-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12 text-center">

      <!-- List -->
      <ul class="list-unstyled mt-3">
 
        {% for date, article in articles|group("postDate|date('F Y')") %}
          <li>
            <h6 class="font-weight-normal">
              <a href="{{archive.uri}}" target="blank" class="dark-grey-text">{{date}}</a>
            </h6>
          </li>
        {% endfor %}
   
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Archive -->