<!-- Title -->
        {% set recent_posts = craft.entries().section('recentPosts').one() %}
          <hr>
          <p class="font-weight-bold dark-grey-text text-center spacing">
            <strong>{{recent_posts.title|upper}}</strong>
          </p>
          

        {% set recent_posts = craft.entries().section('recentPosts').all() %}
          <!-- Section: Recent posts -->
          <section class="mb-5">

            <div class="post-border">

                {% for recent_post in recent_posts %}
                <hr>
                <!-- Grid row -->
                <div class="row mt-4">
                <!-- Grid column -->
                <div class="col-5">
                  <!-- Image -->
                  <div class="view overlay z-depth-1 mb-3">
                    <img src="{{recent_post.image.one().url}}"
                      class="img-fluid" alt="Post">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                </div>
                <!-- Grid column -->

                <!-- Second column -->
                <div class="col-7 mb-1">

                  <!-- Post data -->
                  <div class="">
                    <p class="mb-1">
                      <a href="#!" class="text-hover font-weight-bold">{{recent_post.heading}}</a>
                    </p>
                    <p class="font-small grey-text">
                      <em>{{recent_post.postDate|date('M d, Y')}}</em>
                    </p>

                  </div>

                </div>
                <!-- Second column -->
                </div>
              <!-- Grid row -->
                {% endfor %}

            </div>