<!-- Sidebar -->

<div class="col-lg-3 col-12 px-4 blue-grey lighten-5">

<!--dodaj linkove na articles-->
  {% include "segment/authors.twig" %}
  {% include "segment/popularPosts.twig" %}
  {% include "segment/newsletter.twig" %}
  {% include "segment/recentPosts.twig" %}
  {% include "segment/featuredPosts.twig" %}
  {% include "segment/archive.twig" %} 
  {% include "segment/instagram.twig" %}

</div>