{% extends "layout" %}

{% block main %}
    <main>
      {% include "segment/intro.twig" %}
      <div class="container mt-5 pt-3">
      <div class="row">
      {% include "segment/article.twig" %}
      {% include "segment/sidebar.twig" %}
    </main>
{% endblock %}